* {
   margin: 0;
   padding: 0;
}

body {
   background-color: salmon;
   background-image: url("https://www.bing.com/ck/a?!&&p=d4cd49afb0175ad4JmltdHM9MTY5ODEwNTYwMCZpZ3VpZD0wOGJlNzFlNS1iMGVjLTZkY2YtMzAxMC02MjUxYjE5YjZjZDUmaW5zaWQ9NTU3OA&ptn=3&hsh=3&fclid=08be71e5-b0ec-6dcf-3010-6251b19b6cd5&u=a1L2ltYWdlcy9zZWFyY2g_cT1iYWNrZ3JvdW5kIG5lb24mRk9STT1JUUZSQkEmaWQ9MTk1NTk1NkQ4OTE4QzExMUFFN0ZBQjhGMzI3RjA2Q0MwNjY1QTdEMg&ntb=1");
}

h1 {
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 100px;
   transform: translateX(-50%);
   color: #Ffd700
}

.game-canvas {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.gui-container {
   background-color: bisque;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   width: 90%;
   max-width: 200px;
}

.players-wrapper,
.levels-wrapper {
   margin-bottom: 10px;
   width: 100%;
}

.option-desc {
   margin-bottom: 2px;
}

select {
   padding: 6px;
   width: 100%;
}

.play-btn {
   width: 100%;
   padding: 6px 0;
   background-color: aqua;
   border: 1px solid black;
   cursor: pointer;
   font-weight: bolder;
}

.play-btn:active {
   background-color: rgb(0, 230, 230);
}
