* {
   margin: 0;
   padding: 0;
}

body {
   background-color: salmon;
   background-image: url("https://th.bing.com/th/id/R.fc2e6b275ea65b3f45d8ce08739141c9?rik=0qdlBswGfzKPqw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f5%2ff%2f9%2f805309-popular-neon-light-background-1920x1080-download-free.jpg&ehk=5pVbV5JEyZjzPOCU7zIN%2f1qWSHBLhELPDqvy8FFZkCs%3d&risl=&pid=ImgRaw&r=0");
}

h1 {
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 100px;
   transform: translateX(-50%);
   color: #Ffd700;
   box-shadow: 12px 10px 5px 0px;
}

.game-canvas {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.gui-container {
   background-image: url("https://cdn.shutterstock.com/shutterstock/videos/15932095/thumb/4.jpg?i10c=img.resize(height:72)");
   position: absolute;
   border-radius: 10px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   width: 90%;
   max-width: 200px;
}

.players-wrapper,
.levels-wrapper {
   margin-bottom: 10px;
   width: 100%;
}

.option-desc {
   margin-bottom: 2px;
}

select {
   padding: 6px;
   width: 100%;
}

.play-btn {
   width: 100%;
   padding: 6px 0;
   background: rgb(133,74,32);
   border-radius: 2px;
   background: linear-gradient(90deg, rgba(133,74,32,1) 0%, rgba(175,116,31,1) 48%, rgba(39,167,166,1) 96%);
   border: 1px solid black;
   cursor: pointer;
   font-weight: bolder;
}

.play-btn:active {
   background-color: rgb(0, 230, 230);
}
