* {
   margin: 0;
   padding: 0;
}

body {
   background-image: url("https://www.bing.com/images/search?view=detailV2&ccid=1lGhuKTB&id=A0B10DC05C155E099B62A1BF47DD92E0FB842512&thid=OIP.1lGhuKTBdEN3TZ5XOdO12wHaEA&mediaurl=https%3a%2f%2fartfiles.alphacoders.com%2f134%2f134154.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.d651a1b8a4c17443774d9e5739d3b5db%3frik%3dEiWE%252b%252bCS3Ue%252foQ%26pid%3dImgRaw%26r%3d0&exph=1040&expw=1920&q=img+neon&simid=608014116691194557&FORM=IRPRST&ck=EF99813C807C64509A6BDFFC152333D2&selectedIndex=33")
}

h1 {
   font-size: 50px;
   position: absolute;
   left: 50%;
   top: 100px;
   transform: translateX(-50%);
   color: #44D62C
}

.game-canvas {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.gui-container {
   background-color: bisque;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   width: 90%;
   max-width: 200px;
}

.players-wrapper,
.levels-wrapper {
   margin-bottom: 10px;
   width: 100%;
}

.option-desc {
   margin-bottom: 2px;
}

select {
   padding: 6px;
   width: 100%;
}

.play-btn {
   width: 100%;
   padding: 6px 0;
   background-color: aqua;
   border: 1px solid black;
   cursor: pointer;
   font-weight: bolder;
}

.play-btn:active {
   background-color: rgb(0, 230, 230);
}
